{% extends 'blog/index.html' %}


{%block cuerpo%}
<p>
<p>

<p>
<h1> 
    {{object.titulo}}
</h1>
<p>
<h2>
    {{object.subtitulo}}
</h2>
<p>
    {{object.cuerpo | safe }}
<p>
    <img src="{{object.imagen.url}}" alt="imagen de perfil" width= "300" height= "300">


<h3>Comentarios...</h3>
{% if not.post.comments.all %}
    Aún no hay comentarios... <a href="#">
        Agrega uno!</a>
{% else %}
<a href="{% url 'add_comment' post.pk %} ">Agrega un comentario</a>
<br><br>
    {% for comment in post.comments.all %}
    <strong>
        {{ comment.author }} - 
        {{ comment.created_date }}
    </strong>
    <br>
    {{ comment.text }}
    {% endfor %}
{% endif %}    
            


{%endblock cuerpo%}